.logFont {
  font-family: 'Righteous', cursive;
  text-align: center;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(https://images.pexels.com/photos/326311/pexels-photo-326311.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)
}

/* .background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://images.pexels.com/photos/326311/pexels-photo-326311.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)
} */

.user,
.pass {
  width: 100%;
}

.loginCard {
  padding: 10px 20px;
}

.logFont2 {
  text-align: center;
}