.dashtext {
  font-family: 'Righteous', cursive;
  font-size: 20px;
}

.content-section {
  padding: 20px;
}

.total-sum {
  margin-bottom: 20px;
  margin-top: 20px;
}

.scrollModal {
  height: 68vh;
  overflow: auto;
}

.productImg {
  height: 50%;
  width: 100%;
  padding: 10px;
}

.walmartLogo {
  width: 35%;
}

#modalContainer {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0;
  left: 11%;
  z-index: 10040;
}

.chartCard {
  width: 80%;
  margin-bottom: 20px;
}

@media screen and (max-width: 1280px) {
  #modalContainer {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0;
    left: 0px;
    z-index: 10040;
  }
}

@media screen and (max-width: 500px) {
  .chartCard {
    width: 100%;
    /* height: 300%; */
  }

  .scrollModal {
    height: 90vh;
    overflow: auto;
  }

  /* .chartjs-render-monitor {
    width: 200%;
    height: 200%;
  } */
}