.dashtext {
  font-family: 'Righteous', cursive;
  font-size: 20px;
}

.table-data {
  font-size: 16px;
}

.highlightRed {
  background-color: rgba(255, 0, 17, 0.226);
  padding: 2px;
}

.highlightGreen {
  background-color: rgb(244, 66, 78, 0.2);
  border: 2px solid black;
  padding: 2px;
}

.content-section {
  padding: 20px;
}

.total-sum {
  margin-bottom: 20px;
}

.p-paginator-page {
  position: relative;
  display: inline-block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: rgba(7, 7, 7, 0.5) !important;
  background-color: #fff;
  border: 1px solid #dee2e6;
  cursor: pointer;
  font-weight: bold;
  margin-top: 3px;
  border-radius: 2px;
}

.p-highlight {
  color: rgba(7, 7, 7, 0.9) !important;
}

table {
  cursor: pointer;
}