.p-paginator-page {
  position: relative;
  display: inline-block;
  padding: .5rem .75rem;
  line-height: 1.25;
  color: rgba(7, 7, 7, 0.4) !important;
  background-color: #fff;
  border: 1px solid #dee2e6;
  cursor: pointer;
  font-weight: bold;
  margin-top: 3px;
  border-radius: 1px;
}

.p-paginator-first,
.p-paginator-last,
.p-paginator-prev,
.p-paginator-next {
  display: inline-block;
  padding: .5rem .4rem;
  line-height: 1.25;
  color: rgba(7, 7, 7, 0.8) !important;
  background-color: #fff;
  border: 1px solid #dee2e6;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 1px;
}

.p-paginator-first:disabled,
.p-paginator-last:disabled,
.p-paginator-prev:disabled,
.p-paginator-next:disabled {
  color: rgba(7, 7, 7, 0.4) !important;
  background-color: transparent;
}

.p-paginator-first:before {
  content: "first";
  font-size: 0.8rem;
}

.p-paginator-last:before {
  content: "last";
  font-size: 0.8rem;
}

.p-paginator-prev:before {
  content: "prev";
  font-size: 0.8rem;
}

.p-paginator-next:before {
  content: "next";
  font-size: 0.8rem;
}

.p-highlight {
  color: rgba(7, 7, 7, 0.9) !important;
}

table {
  cursor: pointer;
}

.table-data {
  font-size: 16px;
}

.highlightRed {
  background-color: rgba(255, 0, 17, 0.226);
  padding: 2px;
}

.highlightGreen {
  background-color: rgb(244, 66, 78, 0.2);
  border: 2px solid black;
  padding: 2px;
}