.logo {
  font-family: 'Righteous', cursive;
  font-size: 40px;
}

.title {
  font-family: 'Righteous', cursive;
  font-size: 16px;
  text-align: center;
  margin-top: 16px;
  margin-bottom: -10px;
}

.dropdownCat {
  margin-bottom: 20px;
}

.allMargin {
  margin-bottom: 20px;
}

.textField {
  margin-bottom: 20px;
}

.logout {
  margin-top: 4px;
  margin-bottom: 4px;
}

.home {
  font-family: 'Righteous', cursive;
  padding: 0 0 !important;
}

.dropdownCat {
  width: 80%;
}

.catForm {
  margin-top: -20px;
}

.homeContainer {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}